@media(min-width:200px) {
    .imagenes {
        width: 200px;
        height: 200px;
        margin: auto;
    }
    .parrafos {
        margin: 0 0;
    }
}

@media(min-width:600px) {
    .imagenes {
        width: 250px;
        height: 250px;
        margin: auto;
    }
    .parrafos {
        margin: 0 100px;
    }
}

@media(min-width:1000px) {
    .parrafos {
        margin: 0 200px 0 200px;
    }
}

.imagenes:hover {
    cursor: pointer;
}

ion-content {
    --background: #525150;
}

.swiper-container {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    display: block;
}