<ion-header>
    <ion-toolbar color="dark" mode="ios">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title style="letter-spacing: 2em;">SERIES</ion-title>

    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-slides pager=true [options]="slideOpts" class="swiper-container">
        <ion-slide class="swiper-slide" *ngFor="let serie of series; let x = index">

            <img class="imagenes" [src]="serie.url">
            <div>
                <h3> {{serie.titulo}} </h3>
                <p style="opacity: 1; font-size: 20px; text-align: center; color: #000000; padding:20px 10px 10px 20px;">

                    <span>{{serie.description}}</span>
                </p>
            </div>
        </ion-slide>
    </ion-slides>
    <!--
        
    <div>
        <ion-card *ngFor="let serie of series; let x=index">
            <ion-card-content>
                <img class="imagenes" *ngIf="serie.url" [src]="serie.url">
                <p style="opacity: 1; font-size: 20px; text-align: center; color: #000000; padding:20px 10px 10px 20px;">
                    {{serie.description}}
                </p>
            </ion-card-content>
        </ion-card>

    </div>
    -->
    <ion-fab vertical="bottom" horizontal="center" slot="fixed">
        <ion-fab-button color="danger" (click)="push_funtions()">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>