.rowStyle {
    background: #ffffff;
    color: #000000;
    padding-left: 10px;
    border-radius: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    ion-icon {
        margin: auto 8px;
    }
}

.fondo {
    --background: url('../../assets/img/fondo.jpg') no-repeat center;
}