ion-content {
    padding: 0;
    margin: 0;
}

.rowStyle {
    background: #ffffff;
    color: #000000;
    padding-left: 10px;
    border-radius: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    ion-icon {
        margin: auto 8px;
    }
}

section {
    width: 100%;
    position: fixed;
    height: 100%;
}

section div {
    display: inline;
    z-index: -1;
}

@media(min-width:1000px) {
    section div img {
        width: 50%;
        height: 50%;
        z-index: -1;
    }
}

.menu {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    z-index: 100;
}

.menu div {
    display: block;
}

.fondo {
    --background: url('../../assets/img/fondo.jpg') no-repeat center;
}