ion-content {
    padding: 0;
    margin: 0;
}

.rowStyle {
    background: #ffffff;
    color: #000000;
    padding-left: 10px;
    border-radius: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    ion-icon {
        margin: auto 8px;
    }
}

section {
    width: 100%;
    position: fixed;
    height: 100%;
}

section div img {
    position: relative;
    z-index: -2;
}

@media(min-width:100px) {
    section div {
        height: 100%;
    }
    section div img {
        height: 100%;
        width: 100%;
    }
}

@media(min-width:600px) {
    section div {
        display: inline;
    }
    section div img {
        width: 50%;
        height: 100%;
    }
}

.menu {
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

ion-input {
    --placeholder-color: #ffffff;
    --placeholder-opacity: 1;
    --color: #ffffff;
}

.menu div {
    display: block;
}

.fondo {
    --background: url('../../assets/img/fondo.jpg') no-repeat center;
}

.ingresar {
    padding-left: 10px;
    border: 3px solid #ffffff;
    border-radius: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    ion-icon {
        margin: auto 8px;
    }
}

ion-content {
    --background: #494948;
}

ion-icon {
    color: #ffffff;
    font-size: 40px;
}