<ion-menu>
    <ion-header>
        <ion-toolbar mode="ios">
            <ion-title>Menu</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-content>
        <div *ngFor="let p of pages">
            <ion-item (click)="navegar(p.url)" routerDirection="root" routerLinkActive="active">
                <ion-icon padding [name]="p.icon"></ion-icon>
                <ion-label> {{p.title}} </ion-label>
            </ion-item>
        </div>
    </ion-content>
</ion-menu>
<ion-router-outlet id="content" main></ion-router-outlet>