<ion-header>
    <ion-toolbar color="dark" mode="ios">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            <ion-icon name="home"></ion-icon>
        </ion-title>
        <ion-buttons *ngIf="status == 1" slot="end">
            <ion-button>
                <ion-icon name="add"></ion-icon>
                <ion-input type="file" (change)="changeListener($event)" style=" position: absolute; top: 0; height: 70%; opacity: 0;" multiple></ion-input>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
    <ion-toolbar>
        <ion-tab-bar>
            <ion-tab-button (click)="change_content(x)" [ngClass]="{'border':item.value == status}" *ngFor="let item of toolbar; let x = index">
                <img width="25px" [src]="item.icon" alt="">
                <ion-label> {{item.title}} </ion-label>
            </ion-tab-button>
        </ion-tab-bar>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-card style="margin-bottom: 50px;">
        <ion-card-header>
            <ion-card-title style="letter-spacing: 2em; padding-bottom: 10px;" text-center> {{toolbar[status].title}} </ion-card-title>
        </ion-card-header>
        <ion-card-content style="padding-bottom:100px" text-center *ngIf="toolbar[status].content">
            <div style="text-align: center;">
                <p class="parrafos">
                    {{toolbar[status].content.overall}}
                </p>
            </div>
            <div *ngIf="status == 1">
                <div style="padding-right:80px;" *ngFor="let music of toolbar[1].content.list">

                </div>
                <ion-item (click)="change_song(music.url)" detail *ngFor="let music of toolbar[1].content.list">
                    <ion-label>{{music.name}}</ion-label>
                </ion-item>
            </div>
            <div class="collection" padding *ngIf="status == 2">
                <div class="collection-item" text-center *ngFor="let img of toolbar[2].content.list">
                    <ion-button>
                        <ion-icon name="bookmark" slot="start"></ion-icon>
                        GAME
                    </ion-button>
                    <img [src]="img.url" alt=""><br>
                    <p style="color: #000000; border:1px solid #000000; padding:5px; border-radius: 4px;">{{img.description}}</p>
                </div>
            </div>
        </ion-card-content>
    </ion-card>
    <ion-fab *ngIf="status == 2" vertical="bottom" horizontal="center" slot="fixed">
        <ion-fab-button (click)="add_image()">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>

</ion-content>
<ion-footer>
    <ion-toolbar *ngIf="status == 1" padding>
        <audio id="reproductor" [src]="current_song" *ngIf="toolbar[1].content.list.length > 0" id="reproductor" width="100%" controls>
        </audio>
    </ion-toolbar>
</ion-footer>