@media(min-width:200px) {
    .imagenes {
        width: 200px;
        height: 200px;
        margin: auto;
    }
    .parrafos {
        margin: 0 0;
    }
    audio {
        width: 100%;
    }
}

@media(min-width:400px) {
    audio {
        width: 300px;
    }
}

@media(min-width:600px) {
    .imagenes {
        width: 400px;
        height: 400px;
        margin: auto;
    }
    .parrafos {
        margin: 0 100px;
    }
    audio {
        width: 500px;
    }
}

@media(min-width:1000px) {
    .parrafos {
        margin: 0 400px 0 400px;
    }
    audio {
        width: 500px;
    }
}